
<ion-header>

  <ion-navbar>
    <ion-title>Log in</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="myForm">
    <ion-list formGroupName ="credentials">
      <ion-item>
        <ion-label>Email *</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password *</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <button 
      ion-button  
      block
      type="submit"
      (click)="onSubmit(myForm.valid)">
      Log in
    </button>
    </ion-list>
  </form>
</ion-content>
