<ion-menu [content]="nav">
    
    <ion-header>
        <ion-navbar text-center>
            <button 
            ion-button
            outline
            (click)="onBackToInvoices()">Invoices</button>
        </ion-navbar>
      </ion-header>
    
    <ion-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button 
                        ion-button 
                        (click)="onLoad(customerPage)">
                        Add customer
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button 
                        ion-button 
                        (click)="onLoad(productPage)">
                        Add product
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button 
                        ion-button 
                        (click)="onLogout()">
                        Log out
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>