<ion-header>
  <ion-toolbar>
    <ion-title>Invoices</ion-title>
    <ion-buttons left>
      <button 
        ion-button 
        menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content padding>
 <button 
 ion-button 
 block
 (click)="onCreateInvoice()"> Create Invoice</button>
</ion-content>