
<ion-header>

  <ion-navbar>
    <ion-title>Sign up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="myForm">
    <ion-item>
      <ion-label>Name *</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth *</ion-label>
      <ion-input type="date" formControlName="dob"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email *</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password *</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
    <button 
    ion-button  
    block
    type="submit"
    (click)="onSubmit(myForm.value, myForm.valid)">Sign up</button>
  </form>
</ion-content>
